<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MasterSuite">
    <listeners>
        <listener class-name="Utils.ExtentReportManager"/>
    </listeners>
    <test name="InvitePatientTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.InvitePatients.TC_IP001_AddAccountHolderWithMandatoryDetails"/>
            <class name="tests.InvitePatients.TC_IP002_AddAccountHolderWithExistingReferralClinic"/>
            <class name="tests.InvitePatients.TC_IP003_AddAccountHolderWithAdditionalDetails"/>
            <class name="tests.InvitePatients.TC_IP004_AddAccountHolderWithBothInsuranceDetails"/>
            <class name="tests.InvitePatients.TC_IP005_AddAccountHolderWithAllDetails"/>
<!--            <class name="tests.InvitePatients.TC_IP006_AddAccountHolderWithHealthProfile"/>-->

            <class name="tests.InvitePatients.TC_IP007_AddChildWithMandatoryDetails"/>
<!--            <class name="tests.InvitePatients.TC_IP008_AddChildWithExistingReferralClinic"/>-->
<!--            <class name="tests.InvitePatients.TC_IP009_AddChildWithAdditionalDetails"/>-->
<!--            <class name="tests.InvitePatients.TC_IP010_AddChildWithInsuranceDetails"/>-->
            <class name="tests.InvitePatients.TC_IP011_AddChildWithAllDetails"/>
<!--            <class name="tests.InvitePatients.TC_IP012_AddChildWithHealthProfile"/>-->

            <class name="tests.InvitePatients.TC_IP013_AddWardWithMandatoryDetails"/>
<!--            <class name="tests.InvitePatients.TC_IP014_AddWardWithExistingReferralClinic"/>-->
<!--            <class name="tests.InvitePatients.TC_IP015_AddWardWithAdditionalDetails"/>-->
<!--            <class name="tests.InvitePatients.TC_IP016_AddWardWithInsuranceDetails"/>-->
            <class name="tests.InvitePatients.TC_IP017_AddWardWithAllDetails"/>
<!--            <class name="tests.InvitePatients.TC_IP018_AddWardWithHealthProfile"/>-->
        </classes>
    </test>

    <test name="Basic Flow">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.SignIn.TC_SI001_SignInAsNewPatient"/>
            <class name="tests.SignIn.TC_SI002_SignInAsExistingCustomer"/>
            <class name="tests.Login.TC_LO001_LoginAsValidUser"/>
            <class name="tests.Login.TC_LO002_LoginWithNonRegisteredEmail"/>
            <class name="tests.Login.TC_LO003_VerifyLoginPageErrorMessages"/>
        </classes>
    </test>
</suite>